
* {
    padding: 0;
    margin: 0;
}


.lets {
    max-width: 1400px;
    width: 100%;
    padding: 100px 0;
    margin: 0 auto;
   
}

.let-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.let-text h1 {
    width: 200px;
    font-size: 45px;
    font-weight: 900;
}


.let-text h5 {
    font-size: 12px;
    font-weight: 400;
    color: #191818;
    padding: 19px 0 15px 0;
}


.let-text button {
    font-size: 14px;
    font-weight: 500;
    color: white;
    width: 104px;
    height: 38px;
    border: none;
    border-radius: 15px;
    background-color: black;
    transition: all 0.6s;
}


.let-text button:hover {
    transform: scale(1.2);
    background-color: #378070;
    color:aqua;
}

 /* ==========nawa======= */

.body {
    width: 300px;
    height: 200px;
    background-color: black;
}
  





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footercol{
    width: 25%;
    padding: 0 15px;
}
.footercol h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footercol h4 ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footercol ul li:not(:last-child){
    margin-bottom: 10px;
}

.footercol ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s eaese;
}
.footercol ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footercol .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footercol .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

